$base-color: #A63BA2;
$base-hover-color:#973c96;


/* CUSTOMIZE GO TO TOP BUTTON
-------------------------------------------------- */
#myBtn {
  display: none;
  font-size: 3rem;
  position: fixed;
  padding: 0.75rem 2rem;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  cursor: pointer;
  background-color: $base-color;
  border-color: $base-color;
  &:hover{
    background-color: $base-hover-color;
    border-color: $base-hover-color;
  }
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-brand{
  margin-left: 40px;
  padding: 0;
  img{
    width: 140px;
    padding: 0;
  }
}

.navbar-nav{
  margin: 0 40px;
}

.navbar-light{
  background: rgb(255, 255, 255) !important;
  .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    cursor: pointer;
    padding: 0 40px;
    font-weight: 450;
    &:hover{
      color: $base-color;
    }
  }
}

@media screen and (max-width: 991px){
  .navbar-brand{
    margin-left: 0;
    padding: 0;
  }
    
  .navbar-nav{
    margin: 0;
    text-align: center;
  }
    
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    padding: 21px 0;
  }
}
  
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-bottom: 1rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
  
.carousel-item {
  height: 32rem;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0, 0, 0, 0.548);
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}


/* CUSTOMIZE THE SCROLL BAR
-------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158);
  border-radius: 2px; 
}


/* CUSTOMIZE THE SECTIONS
-------------------------------------------------- */
.section{
  padding: 1rem 0;
  .btn-primary {
    color: #fff;
    font-weight: 400;
    padding: 1rem 0.75rem;
    background-color: $base-color;
    border-color: $base-color;
    margin-bottom: 1rem;
    width: 8rem;
    &:hover{
      background-color: $base-hover-color;
      border-color: $base-hover-color;
    }
  }
  .text-pop{
    color: $base-color;
  }
}

.section-heading {
  font-weight: 650;
  line-height: 2rem;
  letter-spacing: -.05rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  color: rgb(114, 114, 114);
}

.section-image{
  img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

@media (max-width:991px){
  section{
    scroll-margin-top: 21rem;
  }
}

/* CUSTOMIZE THE NEWSLETTER AND REPORT FORM
-------------------------------------------------- */
.form-floating {
  position: relative;
  margin: 1rem 0;
}

.report-form{
  width: 100%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .section{
    padding: 3rem 0;
  }

  .section-heading {
    font-size: 42px;
    line-height: 3rem;
    padding-bottom: 1rem;
  }
  .section-image{
    img{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  .report-form{
    width: 23rem;
  }
}

@media (min-width: 62em) {
  .section-heading {
    margin-top: 1rem;
  }
}
